<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE REAL STATE - Business</title>
    <link rel="stylesheet" href="/css/Dashboard.css">
</head>

<body>

    <div class="dashboard-content">
        <h1>Welcome to Dashboard</h1>
        <p class="subtitle">You are logged in!</p>
        <div>
            <a href="/For-Sale">Upload Property</a>
        </div>
        <div class="dashboard-actions">
            <a class="button" href="/logout">Logout</a>
        </div>
    </div>


</body>

</html>