<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>THE REAL STATE - Business</title>
</head>
<body>
    <div class="header">
        <div>
            <a href="/"><img src="/img/the real state.png" alt="image not found"></a>
            <h2>THE REAL STATE  <br>  <span>Business PVT LTD</span></h2>
        </div>
        <nav>
            <ul>
                <li><a href="AboutUs">About Us</a></li>
                <li><a href="Services">Services</a></li>
                <li><a href="Projects">Projects</a></li>
                <li><a href="Contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>


    <div class="social-media-container">
        <p>Follow us:</p>
        <div class="social-media-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
    

    <div class="contact-contrainer" id="contrainer-margin">
        <div class="contact-info">
            <div class="address-chat">
                <h4><i class="fa-solid fa-location-dot"></i>Get In Touch</h4>
                <p>ABC, Vijay Nagar, Indore, India</p>
            </div>
            <div class="address-chat        ">
                <h4><i class="fa-brands fa-whatsapp"></i> Chat With Our Agent</h4>
                <p>+91 98765 43210</p>
            </div>
            <div class="google-map">
                <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.543400033702!2d75.88993587526083!3d22.745149379395854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fdc1f57b97c1%3A0x403fcaf4edcfefb3!2sVijay%20Nagar%2C%20Indore%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1712212192374!5m2!1sen!2sin" 
                  width="100%" 
                  height="450" 
                  style="border:0;" 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
              
        </div>
        <div class="contact-form">
            <form action="#" th:action="@{/SaveVisiter}" th:object="${prop}" method="post">
                <input type="text" th:field="*{frist_name}" placeholder="Frist Name">
                <input type="text" th:field="*{last_name}" placeholder="Last Name">
                <input type="text" th:field="*{mobile_number}" placeholder="Mobile Number">
                <input type="text" th:field="*{email}" placeholder="Add Email">
                <textarea th:field="*{massage}" id="massage" placeholder="Massage"></textarea>
                <button type="submit">Send massage</button>
            </form> 
        </div>
    </div>

    <div class="footer">
        <div class="coloum-1">
            <h3>Excellence</h3>
            <p>We prioritize quality, innovation and customer satisfaction, turning dreams into reality. Explore about Indore's leading real estate firm specializing in plots, row houses, flats and bungalows.</p>
        </div>
        <div class="coloum-2">
            <h3>Quick Links</h3>
            <a href="/">Home</a>
            <a href="AboutUs">About Us</a>
            <a href="Services">Services</a>
            <a href="Projects">Projects</a>
            <a href="Contact">Contact Us</a>
        </div>
        <div class="coloum-3">
            <h3>Contact Info</h3>
            <p>Follow us:</p>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>ABC, Vijay Nagar, Indore, India</p>
            <p>Chat with us: +91 98765 43210</p>
            <p>Phone: 123-456-7890</p>
            <p>Email: 5e9Ud@example.com</p>
        </div>
        <div class="coloum-4">
            <h3>Projects</h3>
            <img src="/img/prop_villa.png" alt="image not found">
            <p>Laal Baag Palace Villa, Indore</p>
            <a href="Projects">Explore More</a>
        </div>
    </div>

</body>
</html>