<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>THE REAL STATE Business</title>
</head>
<body>
    <div class="header">
        <div>
            <a href="/"><img src="/img/the real state.png" alt="image not found"></a>
            <h2>THE REAL STATE  <br>  <span>Business PVT LTD</span></h2>
        </div>
        <nav>
            <ul>
                <li><a href="AboutUs">About Us</a></li>
                <li><a href="Services">Services</a></li>
                <li><a href="Projects">Projects</a></li>
                <li><a href="Contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="business-building" id="contrainer-margin">
        <div class="business-building-1">
            <img src="/img/building.png" alt="image not found">
        </div>
        <div class="business-building-2">
            <h3>Best corporate Properties in Indore – Top Projects</h3>
            <p>The Indore homes is strategically located, offering excellent connectivity to the city’s major hubs, including the Devi Ahilyabai Holkar International Airport and the upcoming Metro Rail Project.
                <br><br>
                The area boasts premium projects such as Orchid City and Orchid Park, which are among the <span>best properties in Indore</span>, offering luxury living and profitable property investments.
                <br><br>
                Best corporate Properties is another premium project that combines nature and modernity, offering exclusive plots and housing options near Indore homes. It is designed to cater to those who seek a peaceful lifestyle with access to urban conveniences.
                 As one of the best properties in Indore, this project features top-notch amenities and a secure community, making it a prime choice for homebuyers and investors.
            </p>
        </div>
    </div>

    <div class="busi-build-sec">
        <div class="busi-build-sec-de">
            <img src="/img/indore-1.webp" alt="image not found">
            <h3>Indore Airport</h3>
            <p>Close proximity to Devi Ahilyabai Holkar International Airport,excellent domestic connectivity.</p>
        </div>
        <div class="busi-build-sec-de">
            <img src="/img/indore-2.webp" alt="image not found">
            <h3>Indore Highways</h3>
            <p>Well-connected via Indore-Mhow Bypass and national highways, ensuring seamless travel.</p>
        </div>
        <div class="busi-build-sec-de">
            <img src="/img/indore-3.webp" alt="image not found">
            <h3>Metro Rail Project</h3>
            <p>The upcoming Indore Metro Rail will connect the Indore homes to major parts of the city, boosting accessibility and property value.</p>
        </div>
        <div class="busi-build-sec-de">
            <img src="/img/indore-4.webp" alt="image not found">
            <h3>IT and MNC Hub</h3>
            <p>Home to major IT companies like TCS and Infosys, making it a future technology hub.increasing residential demand.</p>
        </div>
    </div>

    <div class="project-overwiev"  id="contrainer-margin">
        <h3>Overview</h3>
        <div class="project-overwiev-coloum-1">
            <div class="project-overwiev-img">
                <img src="/img/overwiew-1.webp" alt="image not found">
                <h4>New Vijay Nagar Park</h4>
            </div>
            <div class="project-overwiev-img">
                <img src="/img/overwiew-2.webp" alt="image not found">
                <h4>New Vijay Nagar City</h4>
            </div>
        </div>
        <div class="project-overwiev-coloum-2">
            <p>New Vijay Nagar City is a premium residential project located in the heart of Indore, designed to provide modern living in a serene environment. 
                As one of the best properties & Development in Indore, it offers spacious plots and residential spaces that are perfect for families and individuals looking to build their dream homes. With excellent connectivity to the Indore Airport, Metro Rail, and major highways, it’s an ideal destination for those seeking convenience and luxury.</p>
                <br><br>
                <p>New Vijay Nagar Park is another premium project that combines nature and modernity, offering exclusive plots and housing options near Indore homes. It is designed to cater to those who seek a peaceful lifestyle with access to urban conveniences. As one of the best properties in Indore, this project features top-notch amenities and a secure community, making it a prime choice for homebuyers and investors.</p>
        </div>
    </div>

    
    <div class="project" id="project">
        <div class="project-contrainer">
            <h2>We Have Many Projects In Indore</h2>
            <p>Explore Premium property in Indore's Most Preferred Area</p>
            <div class="project-column-1">
                <div class="project-details">
                    <img src="/img/Project1.webp" alt="image not found">
                    <h4>Super Corridor Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
                <div class="project-details">
                    <img src="/img/Project2.webp" alt="image not found">
                    <h4>Ujjain Road Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
                <div class="project-details">
                    <img src="/img/Project3.webp" alt="image not found">
                    <h4>Dewas Road Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
            </div>
            <div class="project-column-1">
                <div class="project-details">
                    <img src="/img/Project4.webp" alt="image not found">
                    <h4>New Vijay Nagar Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
                <div class="project-details">
                    <img src="/img/Project5.webp" alt="image not found">
                    <h4>Bholaram Area Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
                <div class="project-details"> 
                    <img src="/img/Project1.webp" alt="image not found">
                    <h4>Pritra Parvat Project</h4>
                    <p>Invest in the best plots in Indore with THE REAL STATE Business</p>
                </div>
            </div>
        </div>
    </div>  <!-- = = = = = = =  project = = = = = -->

    <div class="premium-plots" id="contrainer-margin">
        <h3>Premium Properties for Sale in Indore</h3>
        <h4>Explore premium plots in Indore's most preferred locations, Vijay Nagar and Bholaram Area, Super Corridor.</h4>
        <div class="colony-images">
            <img src="/img/vijay-nagar_plot.jpg" alt="image not found">
            <h5>Vijay Nagar Premium Plots</h5>
        </div>
        <div class="colony-images">
            <img src="/img/super-corridor_plots.jpg" alt="image not found">
            <h5>Super Corridor Premium Plots</h5>
        </div>
        <div class="colony-images">
            <img src="/img/Rajwara-colony.jpeg" alt="image not found">
            <h5>Rajwara Palace Flats</h5>
        </div>
    </div>
<!-- = = = = = = = = = = = = = =  Footer = = = = = = = = = = = = = =  -->
    <div class="footer">
        <div class="coloum-1">
            <h3>Excellence</h3>
            <p>We prioritize quality, innovation and customer satisfaction, turning dreams into reality. Explore about Indore's leading real estate firm specializing in plots, row houses, flats and bungalows.</p>
        </div>
        <div class="coloum-2">
            <h3>Quick Links</h3>
            <a href="/">Home</a>
            <a href="AboutUs">About Us</a>
            <a href="Services">Services</a>
            <a href="Projects">Projects</a>
            <a href="Contact">Contact Us</a>
        </div>
        <div class="coloum-3">
            <h3>Contact Info</h3>
            <p>Follow us:</p>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>ABC, Vijay Nagar, Indore, India</p>
            <p>Chat with us: +91 98765 43210</p>
            <p>Phone: 123-456-7890</p>
            <p>Email: 5e9Ud@example.com</p>
        </div>
        <div class="coloum-4">
            <h3>Projects</h3>
            <img src="/img/prop_villa.png" alt="image not found">
            <p>Laal Baag Palace Villa, Indore</p>
            <a href="Projects">Explore More</a>
        </div>
    </div>
</body>
</html>